/*-------------------------------------------------------------
    Project:        hamaiun.com.ua
    Author:         Anton Shaposhnikov
    Email:			shaposhnikov.web@gmail.com
--------------------------------------------------------------*/

html {
  overflow-x: hidden;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-style: normal;
  color: var(--primary-text);
  background-color: var(--white-color);
}

.main {
  flex: 1 0 auto;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:active,
:focus {
  outline: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

strong {
  font-weight: bold;
}

a {
  color: var(--primary-blue);
  outline: 0;
  text-decoration: none;
  transition: color .3s linear;
}

a:hover {
  text-decoration: underline;
}

h1,
h2 {
  color: var(--primary-blue);
  font-size: var(--px40);
}

p {
  font-size: var(--px16);
  line-height: 1.2;
  color: var(--primary-text);
}

details summary::-webkit-details-marker {
  display: none
}

details > summary {
  list-style: none;
}

.hide {
  display: none;
}

/* ======================================
//            Layout
====================================== */

.section--blue {
  background-color: var(--dark-blue-bg);
}

.container {
  max-width: 1470px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ======================================
//            Button
====================================== */

.default-link-btn {
  @include flex-align(center);
  font-size: var(--px16);
  color: var(--primary-text);
  border: none;
  outline: none;
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: color .3s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    width: 24px;
    min-width: 24px;
    height: 24px;
    margin-left: 2px;
  }

  &:hover {
    color: var(--primary-blue);
    transition: color .3s ease-in-out;
  }
}

/* ======================================
//         Accordion list
====================================== */

.accordion-list {
  max-width: 1260px;
  border-top: 1px solid var(--second-border-color);

  &__summary {
    border-bottom: 1px solid var(--second-border-color);
    padding-left: 20px;
    padding-right: 90px;
    cursor: pointer;
    position: relative;

    @include media-mobile {
      padding-left: 15px;
      padding-right: 60px;
    }

    &:after {
      content: '';
      position: absolute;
      top: calc((100% - 28px) / 2);
      right: 50px;
      width: 28px;
      height: 28px;
      background: url('../../../assets/images/system/icon/plus.svg') no-repeat center;
      background-size: 100%;
      transform: rotate(90deg);
      transition: transform .3s ease-in-out;

      @include media-mobile {
        right: 15px;
      }
    }

    h3 {
      @include flex-align(center);
      font-size: var(--px16);
      color: var(--summary-heading);
      padding-top: 30px;
      padding-bottom: 30px;
      transition: color 0.4s ease-in-out;

      @include media-mobile {
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }

    h3.document-title {
      font-size: var(--px20);
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &:hover h3 {
      opacity: .8;
      transition: opacity 0.4s ease-in-out;
    }
  }

  &__content {
    max-width: 1080px;

    p:not(:last-of-type) {
      margin-bottom: 18px;
    }
  }

  &__date {
    @include flex-align(center);
    font-size: var(--px16);
    line-height: 1.2;
    margin-right: 30px;
    min-width: 135px;
    white-space: nowrap;
    padding-left: 30px;
    position: relative;

    @include media-mobile {
      margin-right: 0;
      margin-bottom: 20px;
      line-height: 1.5;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: calc((100% - 20px) / 2);
      height: 100%;
      width: 20px;
      background: url("../../images/system/icon/calendar-icon.svg") no-repeat center;
    }
  }

  &__details[open] {
    border-bottom: 1px solid var(--second-border-color);
    padding-bottom: 30px;
  }

  &__details[open] &__summary {
    margin-bottom: 30px;
    background-color: var(--dark-blue-bg);
    //color: var(--white-color);

    @include media-mobile {
      padding-left: 15px;
    }

    &:after {
      transform: rotate(45deg);
      background-image: url('../../../assets/images/system/icon/plus--white.svg');
      filter: grayscale(80%);
      transition: all .3s ease-in-out;
    }

    h3 {
      color: var(--active-heading);
    }
  }


  &__details[open] &__date:before {
    background-image: url('../../../assets/images/system/icon/calendar-icon--white.svg');
  }
}


/* ======================================
//            Home Page
====================================== */

.section--intro {
  background-image: url("../../../assets/images/system/intro__bg.svg");
  background-repeat: no-repeat;
  background-position: right center;
  max-width: 2500px;
  margin-left: auto;
  margin-right: auto;

  @include media-mobile {
    background-size: contain;
  }
}

.intro {
  padding-top: 264px;
  padding-bottom: 336px;

  @include media-mobile {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__title {
    font-size: var(--px50);
    margin-bottom: 30px;

    @include media-mobile {
      margin-bottom: 15px;
    }
  }

  &__desc {
    font-size: var(--px25);
    max-width: 495px;
  }
}

.reporting {
  h2 {
    margin-bottom: 50px;

    @include media-mobile {
      margin-bottom: 30px;
    }
  }
}

.reporting-slider {
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;

  @include media-tablet {
    max-width: 80%;
    margin-top: 40px;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: calc((100% - 30px) / 2);
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: none;
    font-size: 0;
    outline: none;
    background-color: transparent;

    &:before {
      display: block;
      width: 20px;
      height: 20px;
      min-width: 20px;
      min-height: 20px;
      margin: 0 auto;
      padding-left: 2px;
    }
  }

  .slick-prev {
    left: -35px;
    transform: rotate(180deg);

    &:before {
      content: url('../../../assets/images/system/icon/read-more-arrow.svg');
    }
  }

  .slick-next {
    right: -35px;

    &:before {
      content: url('../../../assets/images/system/icon/read-more-arrow.svg');
    }
  }

  & li {
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    width: 320px;
    height: 200px;
    border: 2px solid var(--primary-blue);
    background-color: var(--white-color);
    cursor: pointer;

    @include media-mobile {
      margin-left: 10px;
      margin-right: 10px;
    }

    &:hover a {
      color: var(--primary-blue);
      text-decoration: none;
      transition: color .3s ease-in-out;
    }
  }

  &__item {
    @include flex-justify-align(center, center);
    flex-direction: column;
    height: 100%;

    h3 {
      font-size: var(--px40);
      margin-bottom: 40px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: calc((100% - 85px) / 2);
        width: 85px;
        height: 1px;
        background-color: var(--border-color);
      }
    }
  }
}

.pattern-line {
  position: relative;
  padding-left: 60px;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    height: 2px;
    width: 45px;
    background-color: var(--white-color);
  }
}

.pattern-line.primary:after {
  background-color: var(--primary-blue);
}

.pdf-icon {
  display: block;
  position: relative;
  padding-left: 34px;
  line-height: 24px;
  margin-bottom: 20px;
  font-weight: 500;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: calc((100% - 24px) / 2);
    width: 24px;
    height: 24px;
    background: url("../../images/system/icon/pdf.svg") no-repeat center;
    background-size: 24px;
  }
}