.fin-reports {
  padding: 50px 0 150px;

  @include media-mobile {
    padding: 40px 0;
  }

  & h2 {
    margin-bottom: 50px;

    @include media-mobile {
      margin-bottom: 30px;
    }
  }
}

.tabs-header {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  margin-bottom: 50px;
}

.tab {
  padding: 10px 23px;
  border: 1px solid var(--primary-blue);
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.tab.active {
  background-color: var(--primary-blue);
  color: var(--white-color);
  transition: all .5s ease-in-out;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;

  p {
    margin-bottom: 20px;
  }

  ul {
    list-style-type: decimal;
    padding-left: 20px;

    @include media-mobile {
      padding-left: 25px;
    }
  }
}