.fin-reports {
  padding: 50px 0 150px;

  @include media-mobile {
    padding: 40px 0;
  }

  & h2 {
    margin-bottom: 30px;

    @include media-mobile {
      margin-bottom: 20px;
    }
  }
}

.tabs-header {
  display: flex;
}

.tab {
  padding: 23px 10px;
  border: 1px solid var(--primary-blue);
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 13px;
  }
}

.tab.active {
  background-color: black;
  color: white;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}