.section--about-us {
  background-color: var(--dark-blue-bg);
}

.about-us {
  display: flex;
  gap: 20px;
  padding-top: 115px;
  padding-bottom: 58px;

  @include media-mobile {
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
  }

  &__title {
    font-size: var(--px30);
    max-width: 711px;
    color: var(--second-white-color);
  }

  &__desc {
    color: var(--second-white-color);
    max-width: 525px;
    margin-top: 70px;

    @include media-mobile {
      margin-top: 20px;
    }
  }
}