.impaired-mode {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 180px;
  background-color: var(--white-color);
  padding-top: 10px;
  padding-bottom: 10px;

  &.active {
    display: flex;
  }

  &__desc {
    font-size: var(--px16);
    margin-bottom: 20px;
    text-align: center;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;

    @include media-mobile {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__nav {
    @include flex-justify-align(space-between, center);
    flex-wrap: wrap;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    @include media-mobile {
      justify-content: center;
    }
  }

  &__item {
    width: 70px;
    height: 70px;

    @include media-mobile {
      width: 50px;
      height: 50px;
      margin: 5px;
    }
  }

  &__item span {
    display: block;
    width: 70px;
    height: 70px;
    line-height: 63px;
    font-size: var(--px20);
    font-weight: bold;
    text-align: center;
    color: #494949;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid #9B9B9B;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
      border-color: #02283F;
      transition: all .3s ease-in-out;
    }

    @include media-mobile {
      width: 50px;
      height: 50px;
      line-height: 43px;
    }
  }

  &__item input {
    display: none;
  }

  &__item input:checked ~ span {
    border-color: #02283F;
  }

  &__item--theme-white span {
    background-color: #787878;
    border-color: #787878;
  }

  &__item--theme-black span {
    background-color: #000;
    border-color: #fff;
  }

  &__accept-btn {
    margin-left: auto;
    min-width: 250px;
    justify-content: flex-end;

    @include media-mobile {
      margin: 10px auto 0;
      min-width: fit-content;
      justify-content: center;
    }
  }
}

#impaired-mode-btn {
  @include flex-align(center);
  cursor: pointer;

  &__item {
    display: none;
  }
}

.dark,
.white {
  #included__impaired-mode {
    border-bottom: 1px solid var(--black-color);
  }
}

.dark {
  filter: grayscale(100%);
  --primary-text: #fff;
  --white-color: #000;
  --black-color: #fff;
  --gray-color: #fff;
  --dark-blue-bg: #000;
  --light-gray-bg: #000;
  --border-color: #fff;
  --primary-blue: #fff;
  --summary-heading: #fff;
}

.white {
  filter: grayscale(100%);
  --primary-text: #000;
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #000;
  --dark-blue-bg: #fff;
  --light-gray-bg: #fff;
  --border-color: #000;
  --second-white-color: #000;
  --summary-heading: #000;
  --active-heading: #000;
}

.a3,
.a2 {
  & .reporting-slider__icon {
    display: none;
  }

  & .reporting-slider li {
    height: 420px;
  }
}