<div class="container">
	<div class="footer__inner">
		<div class="footer__info-block">
			<div class="footer__logo">
				<img alt="logo" src="assets/images/system/icon/Logo--white.svg">
			</div>
			
			<p class="footer__legal">
				Товариства з додатковою відповідальністю «Страхова компанія «Гамайун»
				<br>
				Ідентифікаційний код юридичної особи: 31901152
			</p>
			
			<ul class="footer__nav">
				<li class="footer__nav-item">
					<p class="footer__nav-title">Телефон</p>
					<a href="tel:380931755035" target="_blank">
						+380(93)175-50-35
					</a>
				</li>
				
				<li class="footer__nav-item">
					<p class="footer__nav-title">Часи роботи</p>
					<p>
						Понеділок – п'ятниця <br>
						9:00–18:00
					</p>
				</li>
				
				<li class="footer__nav-item">
					<p class="footer__nav-title">Адреса</p>
					<a
						href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.8429454759485!2d30.448945915731095!3d50.44402597947443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc2099852e89%3A0x1c866dd17d7066a0!2z0LLRg9C70LjRhtGPINCf0L7Qu9GM0L7QstCwLCAyNCwg0JrQuNGX0LIsIDAyMDAw!5e0!3m2!1suk!2sua!4v1662707057148!5m2!1suk!2sua"
						target="_blank">
						Україна, 03113, м. Київ <br/> вул. Дружківська, буд. 10
					</a>
				</li>
			</ul>
		</div>
		
		<div class="footer__signature">
			<p>Всі права захищені // 2022</p>
		</div>
	</div>
</div>
