<div class="container">
	<div class="footer__inner">
		<div class="footer__info-block">
			<div class="footer__logo">
				<img alt="logo" src="assets/images/system/icon/Logo--white.svg">
			</div>
			
			<p class="footer__legal">
				Товариства з додатковою відповідальністю «Страхова компанія «Гамайун»
				<br>
				Ідентифікаційний код юридичної особи: 31901152
			</p>
			
			<ul class="footer__nav">
				<li class="footer__nav-item">
					<p class="footer__nav-title">Телефон</p>
					<a href="tel:380931755035" target="_blank">
						+380(93)175-50-35
					</a>
				</li>
				
				<li class="footer__nav-item">
					<p class="footer__nav-title">Часи роботи</p>
					<p>
						Понеділок – п'ятниця <br>
						9:00–18:00
					</p>
				</li>
				
				<li class="footer__nav-item">
					<p class="footer__nav-title">Адреса</p>
					<a
						href="https://goo.gl/maps/eHNSGFoEFgLD8q3v8" target="_blank">
						Україна, 03113, м. Київ <br/> вул. Дружківська, буд. 10
					</a>
				</li>
			</ul>
		</div>
		
		<div class="footer__signature">
			<p>Всі права захищені // 2023</p>
		</div>
	</div>
</div>
