<div class="container">
	<div class="impaired-mode" id="impaired-mode">
		<p class="impaired-mode__desc">
			Ви маєте можливість змінити тему сайту на біло-чорну високонтрастну тему ,
			або збільшити шрифти для комфорного перегляду.
		</p>
		<div class="impaired-mode__inner">
			<ul class="impaired-mode__nav">
				<li class="impaired-mode__item impaired-mode__item--theme-black">
					<label>
						<input id="impaired-mode__input--black" name="color" type="radio"
						       value="theme-black">
						<span></span>
					</label>
				</li>
				<li class="impaired-mode__item impaired-mode__item--theme-white">
					<label>
						<input id="impaired-mode__input--white" name="color" type="radio"
						       value="theme-white">
						<span></span>
					</label>
				</li>
				<li class="impaired-mode__item">
					<label>
						<input id="impaired-mode__input--a1" name="font" type="radio">
						<span>A1</span>
					</label>
				</li>
				<li class="impaired-mode__item">
					<label>
						<input id="impaired-mode__input--a2" name="font" type="radio">
						<span>A2</span>
					</label>
				</li>
				<li class="impaired-mode__item">
					<label>
						<input id="impaired-mode__input--a3" name="font" type="radio">
						<span>A3</span>
					</label>
				</li>
			</ul>
			<button class="impaired-mode__accept-btn default-link-btn">
				Звичайна версія сайту
			</button>
		</div>
	</div>
</div>

<script src="js/components/impaired-mode.js" type="text/javascript"></script>