<div class="container">
	<div class="why-we">
		<h2 class="why-we__title">Чому нас обирають</h2>
		<div class="why-we__inner">
			<ul class="why-we__list">
				<li class="pattern-line primary">
					<h3>Широкий спектр послуг</h3>
					<p>Ми пропонуємо різноманітні види страхування, що дозволяє нашим
						клієнтам знайти оптимальний захист для своїх потреб.</p>
				</li>
				
				<li class="pattern-line primary">
					<h3>Надійність та досвід</h3>
					<p>Ми працюємо в сфері страхування протягом багатьох років, тому маємо
						багатий досвід та відповідну експертизу в галузі.</p>
				</li>
				
				<li class="pattern-line primary">
					<h3>Врегулювання збитків</h3>
					<p>Якщо виникає необхідність у врегулюванні збитків, наша компанія
						докладе всіх зусиль, щоб максимально швидко та ефективно вирішити
						проблему на користь клієнта.</p>
				</li>
				
				<li class="pattern-line primary">
					<h3>Індивідуальний підхід</h3>
					<p>Ми розуміємо, що кожен клієнт має свої унікальні потреби та
						бажання, тому ми пропонуємо індивідуаль</p>
				</li>
			</ul>
			
			<div class="why-we__poster">
				<img alt="Чому нас обирають"
				     src="assets/images/system/why-we__image.jpg">
			</div>
		</div>
	</div>
</div>